<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Mater Satuan Barang</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>                  
              <tr>  
                <th>    Nama Barang</th>
                <th>    Kode Barang</th>
                <th style="width: 40px">Jumlah Barang</th>
              </tr>
            </thead>
            <tbody>
                {{range $index, $elem := .units}}
                <tr>
                    <td> {{ $elem.Code}}</td>
                    <td> {{ $elem.Name}}</td>
                    <td><span class="badge bg-danger">55%</span></td>
                  </tr>
                {{end}}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      