<!-- Default box -->
<div class="card card-solid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Pengaturan User</h3>

          <div class="card-tools">
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Hak Akses</th>
                <th>User</th>
                <th>Email</th>
                <th>Last Login</th>
              </tr>
            </thead>
            <tbody>
              {{range $index, $elem := .list}}
              <tr>
                <td>
                  {{if eq $elem.Role 1}}
                    <button class="btn btn-danger btn-sm">Administrator</button>
                  {{else}}
                  <button class="btn btn-success btn-sm">Pegawai </button>
                  {{end}}
                </td>
                <td>{{$elem.Username}}</td>
                <td>{{$elem.Email}}</td>
                <td>{{$elem.LastLogin}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
  
    
</div>
